<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJS serving HTML Pages</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>404, oops!</h1>
    <p>You're done something wrong!</p>
  </body>
</html>
