* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: skyblue;
  font-family: verdana;
  color: #fff;
  padding: 30px;
}
h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px; text-align: center;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px; text-align: center;
}
.list {
  text-align: center;
}
ul {
  padding:: 0;
  display: inline-block;
  text-align: left;
}
p, li {
  font-size: 16px;
  text-align: center;
}
form {
  width: 100%;
  padding: 30px;
}
label {
  display: block;
  margin:10px 0 12px;
  font-size: 16px;
}
input[type="text"] {
  width: 100%;
  padding: 5px 10px;
}
input[type="submit"] {
  margin: 10px 0 0;
  padding: 5px 10px;
}
